/*tablet and laptop*/
@media screen and (min-width: 480px) {
  h1 {
      font-size: 50px;
      padding-top:1%;
      padding-bottom:2%;
      text-align: center;
  }
  
  #form_body {
      background-color: #F2F3F4;
      font-size: 15 px;
      text-align: center;
  }
  input {
      width: 50%;
      padding: 10px 15px;
      margin: 10px;
      display: inline-block;
  }
  #sign_up{
      background-color: #566573;
      display: inline-block;
      font-size: 15px;
  }
}
  
/*For mobile
@media only screen and (max-width: 480px) {
  form {
    margin: 0 0 5px 0;
    width: 100%;
  }
  form > label,
  legend {
	  width: 100%;
    float: none;
  }

  label {
    width: 100%;
    text-align: center;
  }

  form > fieldset {
    width: 80%;
    float: none;
  }

  input[type=text],
  input[type=text],
  input[type=text],
  input[type=date] {
    width: 95%;
  }
}*/